@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'common/global';

.torn-corner-1 {
  clip-path: url(#torn-corner-1);
}

.torn-corner-2 {
  clip-path: url(#torn-corner-2);
}

.torn-corner-3 {
  clip-path: url(#torn-corner-3);
}

@media screen and (min-width: 940px) {
  #app * {
    transform-style: preserve-3d;
  }

  #app {
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
  }

  .parallax-child {
    transform-origin: bottom left;
    transform: translateZ(0.125px) scale(0.885);

    &-2 {
      transform-origin: bottom left;
      transform: translateZ(0.175px) scale(0.835);
    }
  }

  .parallax-two-birds {
    transform-origin: bottom right;
    transform: translateZ(-0.05px) scale(1.05);
  }

  .parallax-single-birds {
    transform-origin: bottom right;
    transform: translateZ(0.05px) scale(0.95);
  }
}

.page-content {
  & > * {
    @apply max-w-3xl 2xl:max-w-4xl;

    .page-template-template-page-wide & {
      @apply mx-auto;
    }
    &.alignwide {
      @apply max-w-6xl;
    }
  }
  .page-template-template-page-birds & {
    padding-bottom: 20em;
    background-image: url(../images/birds-purple.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40% auto;
  }
}

.post-content {
  > * {
    @apply max-w-3xl ml-auto;

    &.alignwide {
      @apply max-w-6xl;
    }
  }

  blockquote[class^='wp-block-'] {
    @apply xl:max-w-md xl:absolute xl:px-0;
  }
}
